*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties



#De aquí para arriba es el archivo original, y hacía abajo, es para subir sólo el server en el repo

node_modules/
server/.env
.kotlin/
.gradle/
build/
app/build/
app/release/
*.apk
*.log
.idea/
local.properties


# Android / Gradle
.gradle/
build/
app/
gradle/
gradlew
gradlew.bat
local.properties
*.apk

# IDE
.idea/

# Kotlin
.kotlin/

# Node
node_modules/
package.json
package-lock.json
webapp/

# Archivos generados / temporales
*.log
Detected
Docs
Running
keytool
node
equipos-backend@1.0.0
replay_pid*
hs_err_pid*

# Otros
render.yaml


# Archivos del proyecto Android raíz que no se subirán

build.gradle.kts
gradle.properties
settings.gradle.kts
