# Server
PORT=3000
JWT_SECRET=575843

# Database (Render will inject DATABASE_URL)
DATABASE_URL=postgresql://dbequipos_user:VcMsXcthOq2pLMxI4UutRC75sITlf5uI@dpg-d46khibe5dus73asgibg-a.oregon-postgres.render.com/dbequipos